.artifactContainer {
  margin: 40px auto;
  text-align: center;
  width: 80%;
}

.artifactCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.artifactCard h2 {
  margin: 0 0 12px;
  font-size: 1.5rem;
}

.uploadForm {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.uploadForm input[type="file"] {
  display: none;
}

.customFileInput {
  padding: 8px 12px;
  background-color: #5bccd6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin: 20px;
}

.customFileInput:hover {
  background-color: #509aa9;
}

.uploadForm button, .artifactButton {
  padding: 10px 14px ;
  background-color: #5bccd6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.uploadForm button:hover {
  background-color: #509aa9;
}

.artifactList {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding: 0;
  list-style: none;
  max-height: 300px;
}

.artifactList::-webkit-scrollbar {
  height: 8px;
}

.artifactList::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.artifactList::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.artifactList li {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.artifactList li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.removeButton {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.removeButton:hover {
  background-color: #cc0000;
}