.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 25px;
  width: 80%;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card h2 {
  margin: 0 0 12px;
  font-size: 1.5rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.actions button {
  flex: 1;
  margin: 8px 4px;
  padding: 8px 12px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.editButton, .resultsButton, .getLinkButton {
    background-color: #5bccd6;
}

.editButton:hover, .resultsButton:hover, .getLinkButton:hover{
  background-color: #509aa9;
} 

.deleteButton {
  background-color: #fe7979;
  transition: background-color 0.2s ease-in-out;
}

.deleteButton:hover, .published:hover {
  background-color: #cc0000;
}

.unpublished {
  background-color: #77ca7a; 
}

.unpublished:hover {
  background-color: #246f18;
}

.published {
  background-color: #fe7979; 
}

