.artifactContainer {
  margin: 40px auto;
  text-align: center;
  width: 80%;
}

.artifactCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

li{
    list-style: none;
}

.optionsItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.optionsItem input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.optionsList, .lablesList {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.optionsItem, .lablesItem{
  margin-bottom: 5px;
}
